

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(104, 28, 110);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



{showAlert && <Alert variant="success">Shopping Completed!</Alert>}

useEffect(() => {
  if (products.length > 0 && products.every((product) => product.isBought)) {
    setShowAlert(true);
  } else {
    setShowAlert(false);
  }
}, [products]);